body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Typography */
h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #1792d2;
}

/* Navigation */

#nav li {
  display: inline;
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #143774;
}
/* Layout */
.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

pre {
  width: 100%;
  display: block;
}
